<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <appSettings>
    <add key="BING" value="AtWyfUoqkthKr6oqDQ_sG1P96rpBrs617L2I-k2Bj0B2mJoGxOTwTgHHCYY6JI54"/>
    <add key="MAPQUEST" value="r3UJEAVyVkEEzkeaAGc0FxueeDm0dy2Q"/>
    <add key="NOKIA_ID" value="iPdU61GLpQt71C8Ptiom"/>
    <add key="NOKIA_KEY" value="-hU8ho-Nt-YkzEr_S0-G8g"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
